.tg-column-wrapper .tg-column-1, .tg-column-wrapper .tg-column-2, .tg-column-wrapper .tg-column-3, .tg-column-wrapper .tg-column-4, .tg-column-wrapper .tg-column-5 {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
}

#top-footer .widget ul {
  margin: 0;
  list-style: none;
}
#top-footer .widget ul li {
  position: relative;
  padding: 0 0 10px 0;
  font-size: 12px;
}
.tg-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.textwidget p{
  text-align: left;
  color: #948e8e;
}
.subscribe-form .form-control {
  border: 1px solid #fd8e2a!important;
}
.subscribe-form .btn {
  color: #ffffff;
}
#top-footer .tg-column-3:nth-child(2) {
  width: 44%;
  display: inline-flex;

}
#text-2 .textwidget{
  font-size: 11px;
  margin-top: 40px;
}
#nav_menu-3 .menu-footer-company-container a{
  font-size: 14px;
  font-weight: 700;
  color: #948e8e;
  transition: all .3s;
}
#nav_menu-3 .widget-title{
  padding-left: 40px;
}
#nav_menu-4 .widget-title{
  padding-left: 40px;
}
#nav_menu-4 .menu-footer-company-container a{
  font-size: 14px;
  font-weight: 700;
  color: #948e8e;
  transition: all .3s;
}
#nav_menu-4 .menu-footer-company-container a:hover{
  font-weight: 500;
  color: #ff8800;
  transition: all .3s;
}
#nav_menu-3 .menu-footer-company-container a:hover{
  font-weight: 500;
  color: #ff8800;
  transition: all .3s;
}
#top-footer .tg-column-3:nth-child(3) {
  width: 20%;
}
@media(max-width: 767px) {
  #top-footer .tg-column-3:nth-child(2) {
    justify-content: space-between;
  }

  #top-footer .tg-column-wrapper .footer-block {
    width: 100%;
    margin: 0 0 30px 0;
  }
}